<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers',server.id]"
        [queryParams]="{allowEdit:1, defaultEdit:0}"
        [fragment]="'loading'"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- <button class="btn btn-primary" (click)="onReload1()">absolute servers</button> -->
    <!-- <button class="btn btn-primary" (click)="onReload2()">absolute /servers</button> -->
    <!-- <button class="btn btn-primary" (click)="onReload3()">relative servers</button> -->
    <!-- <button class="btn btn-primary" (click)="onReload4()">relative /servers</button> -->
    <router-outlet></router-outlet>
  </div>
</div>

